.square{
    width: calc(100% / 10);
    height: 50px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    display: flex;
    flex-flow: row wrap;
    border: groove 20px;
}

.active{
    background-color: blue;
}
